.App {
  text-align: center;
}


.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: lightsteelblue;
  text-decoration: none;
  width: 100%;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stateDetails {
overflow-y: scroll;
}

.header {
  background-color: #79a3b1;
  height: 100px;
}

.home-img img {
  width: 50%;
  height: 50%; 
}

.footer {
  bottom: 0;
  position: absolute;
  background-color: #79a3b1;
  height: 130px;
  width: 100%;
}

.footer .links img {
  width: 3%;
  height: 3%;
  display: inline;
  /* flex-direction: row;
  justify-content: space-around; */

}

.footer-app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .submitForm {
  display: flexbox;
  flex-direction: column;
} */